In [12]:
# imports.
import pandas as pd
from sqlalchemy import create_engine
import psycopg2

# read in the csv file.
df = pd.read_csv('https://raw.githubusercontent.com/CVanchieri/DS-Unit-3-Sprint-2-SQL-and-Databases/master/module2-sql-for-analysis/titanic.csv')
# rename the columns for usability.
df = df.rename(columns={"Survived": "survived", "Pclass": "pclass", "Name": "name", "Sex": "sex",
                        "Age": "age", "Siblings/Spouses Aboard": "siblings", 
                        "Parents/Children Aboard": "parents", "Fare": "fare"})
# show the data frame with headers.
print(df.head())

   survived  pclass  ... parents     fare
0         0       3  ...       0   7.2500
1         1       1  ...       0  71.2833
2         1       3  ...       0   7.9250
3         1       1  ...       0  53.1000
4         0       3  ...       0   8.0500

[5 rows x 8 columns]

In [0]:
# set elephantsql instance details.
host = 'raja.db.elephantsql.com'
user = 'amdimexz'
database = 'amdimexz'
password = 'VAm2Qtyg-LHG2sqIl2dwiX3A_BLU8aJI'

In [0]:
# connect the the elephantsql instance.
conn = psycopg2.connect(database=database, user=user, password=password, host=host)
# create cursor from connection.
cur = conn.cursor()
# drop the any titatic table in the instance.
cur.execute('DROP TABLE "public"."titanic"')
# commit the change.
conn.commit()

In [0]:
# set a new table titanic, set some details for each column.
create_titanic_table = """
CREATE TABLE titanic(
    survived SMALLINT NOT NULL,
    pclass SMALLINT NOT NULL,
    name VARCHAR (100) NOT NULL,
    sex VARCHAR (10) NOT NULL,
    age SMALLINT NOT NULL,
    siblings SMALLINT NOT NULL,
    parents SMALLINT  NOT NULL,
    fare FLOAT NOT NULL
);
"""
# create the titanic table.
cur.execute(create_titanic_table)
# close the connection.
# commit the change.
conn.commit()

In [0]:
conn.rollback()

In [0]:
# set the postgress url.
db_string = "postgres://amdimexz:VAm2Qtyg-LHG2sqIl2dwiX3A_BLU8aJI@raja.db.elephantsql.com:5432/amdimexz"
# create the engine with postgress.
engine = create_engine(db_string)
# create the connection with the engine.
conn_2 = engine.connect()
# change the df to sql.
df.to_sql('titanic', conn_2, index=False, if_exists='append')